/*COMMON ELEMENTS*/

* {
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    color: #c3c3c4;
    line-height: 1.25em !important;
}

body{
    background-image: url("../images/bg.jpg");
    padding-top: 32px !important;
    color: #c3c3c4;
}


.vijet-desc strong{
    color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.vijet-desc-content{
    display: inline;
    display:inline;
    float:left;
    margin:0;
}

.listHolder{
    height: 15px;
    overflow:hidden;
}

#testList{
    padding: 0;
    list-style-type: none;
    margin:0;
    animation: animChange 16s linear 0.3s infinite normal none;
}

#testList li{

    /*font-size: 35px;*/
    color: #1DE9B6;
    font-family: 'Risque', cursive;
}

@keyframes animChange {
    /*0%, 12%   {transform:translateY(0);}*/
    /*18%, 24% {transform:translateY(-16%);}*/
    /*30%, 36% {transform:translateY(-32%);}*/
    /*42%, 48% {transform:translateY(-48%);}*/
    /*54%, 60% {transform:translateY(-66%);}*/
    /*66%, 72% {transform:translateY(-84%);}*/

    /*0%, 9%   {transform:translateY(0);}*/
    /*10%, 19% {transform:translateY(-16%);}*/
    /*20%, 29% {transform:translateY(-32%);}*/
    /*30%, 39% {transform:translateY(-48%);}*/
    /*40%, 49% {transform:translateY(-66%);}*/
    /*50%, 59% {transform:translateY(-84%);}*/
    /*60%, 69% {transform:translateY(-66%);}*/
    /*70%, 79% {transform:translateY(-48%);}*/
    /*80%, 89% {transform:translateY(-32%);}*/
    /*90%, 99% {transform:translateY(0%);}*/

    0%, 9%   {transform:translateY(0);}
    10%, 19% {transform:translateY(-16%);}
    20%, 29% {transform:translateY(-32%);}
    30%, 39% {transform:translateY(-48%);}
    40%, 49% {transform:translateY(-66%);}
    50%, 59% {transform:translateY(-84%);}
    60%, 69% {transform:translateY(-66%);}
    70%, 79% {transform:translateY(-48%);}
    80%, 89% {transform:translateY(-32%);}
    90%, 99% {transform:translateY(0%);}


    /*16%, 24% {transform:translateY(-16%);}*/
    /*32%, 40% {transform:translateY(-32%);}*/
    /*64%, 72% {transform:translateY(-48%);}*/
    /*80%, 88% {transform:translateY(-66%);}*/
    /*96%, 99% {transform:translateY(-84%);}*/
}
/*NAV BAR*/
.navbar{
    padding-right: 15px;
}

.navbar-nav a { font-weight: 400; font-size: 15px; }
.navbar-brand a { font-weight: 400; font-size: 20px; }
/*NAVBAR END*/

.mysection{
    position: relative;
}

#my-text-container{
    position: relative;
}

/*EDUCATION PAGE*/
.education_courses{
    list-style-type: square;
}

.education_courses li{
    color: red;
}

.education_courses li span{
    color: #c3c3c4;
}

.collage-name{
    color: #1DE9B6;
}

.edu-icons{
    color:#42A5F5;
}

.bvb-logo{
    background-color: #ffffff;
    padding:15px;
}
.edu-trophy{
    color:#FFFF8D;
}

/*SKILLSPAGE*/
.skills_header{
    font-family: 'Satisfy', cursive;
    font-size: 15px;
    margin:0px;
    padding:8px;
    color: #FFCCBC;
}

.header-without-top-margin{
  padding:0px;
  margin:0px;
  margin-bottom:10px;
}

.skills-table tr td{
    border: none !important;
}

.skill-label{
    color:#FF9E80;
}

.certification-link{
    color: #FF5252;
}

.certification-brand{
    width:156px;
    height:64px;
    padding: 10px;
}

.certifications-table td{
    font-size: 16px;
}

.certifications-table td p{
    font-size: 18px;
    color: #1DE9B6;
    margin-bottom: 0px;
}
/*SMALL SCREEN*/

.coll-details h2 span{
    margin-bottom: 0px;
    margin-top: 0px;
    padding:0px;
    font-size: 18px;
}
.coll-details h5{
    margin-bottom: 0px;
    margin-top: 0px;
    padding:0px;
}

.coll-details h2{
    margin:0px;
    padding:0px;
}

.coll-details h4{
    line-height: 1em !important;
    padding: 1px !important;
    margin: 0px;
    font-size: 14px;
}

.education_courses li span{
    font-size: 12px;
}

/*.coll-details h4 span{*/
    /*line-height: 1em !important;*/
/*}*/

/*.coll-details h2{*/
    /*margin-bottom: 0px;*/
    /*margin-top: 0px;*/
    /*padding:0px;*/
/*}*/
/*.collage-name{*/
    /*margin-bottom: 0px;*/
    /*margin-top: 0px;*/
    /*padding:0px;*/
    /*font-size: 18px;*/
/*}*/
/*.coll-details h4{*/
    /*margin: 1px;*/
/*}*/

/*.coll-details h4 span{*/
    /*line-height:0.5em !important;*/
/*}*/

/*.education-coll-logo{*/
    /*width :125px;*/
    /*height :125px;*/
/*}*/

/*.education_courses li span{*/
    /*font-size: 12px;*/
/*}*/

/*.coll-details h4 span, .coll-details-duration{*/
    /*font-size: 14px;*/
/*}*/

/*EDUCATION PAGE END*/

/*PROJECT PAGE*/

.project {
    width: 350px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-color: aqua;
    margin-top:10px;
}

.project .project-back {
    background-color:#F5F5F5;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}

.project:hover .project-back {
    opacity: 1;
    transition: opacity .5s;
}
.project-back h3{
    display: block;
    text-align: center;
    line-height: 50px!important;
    position: relative;
}
.project-back p{
    text-align: center;
}

.project-front h3, .project-front h5{
    margin:0;
    padding:5px;
}

/*PROJECT COLORS*/

.wham-project{
    background-color: #64FFDA;
}

.hushvault-project{
    background-color: #FFCCBC;
}

.t2t-project{
    background-color: #FFCC80;
}

.converter-project{
    background-color: #E1BEE7;
}

.hangman-project{
    background-color:#81D4FA;
}

.fna-project{
    background-color:#B2EBF2;
}

.view-color-pal-project{
    background-color:#A5D6A7;

}

.doc-generator-project{
    background-color:#FFF59D;

}

.website-project{
    background-color:#D7CCC8;
}

.osgi-project{
    background-color:#FFECB3;
}

.ir-project{
    background-color: #CFD8DC;
}

/*SMALL SCREEN*/
/*project page*/
.projects{
    text-align: center;
}

.project-front h3, .project-front h5, .project-back h3, .project-back p{
    color: #000000;
}

.project {
    width: 220px !important;
    height: 75px !important;
    text-align: left !important;
}

.project h3{
    font-size: 14px !important;
}

/*project page end*/
/*PROJECT PAGE END*/
/*EXPERIENCE PAGE*/
.exp-header{
    font-size: 16px;
    color:#1DE9B6;
}

.exp{
    margin-bottom: 10px;
}

.exp-role,.exp-role,.exp-duration,.exp-desc{
    font-size: 13px;
}

.exp-desc-list li span{
    font-size: 13px;
}

.exp h1, .exp h2, .exp h3, .exp h4, .exp h5, .exp h6{
    padding: 1px;
    margin: 0px;
}
.exp-desc-list{
    list-style-type: square;
}

.exp-desc-list li{
    color: red;
}

.exp-desc-list li span{
    color: #c3c3c4;
}

/*EXPERIENCE PAGE END*/
@media (max-width:992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*ALL*/
    .section-heading{
        font-size: 32px !important;
    }

    .vijet-desc strong{
        font-size: 35px;
    }

    .vijet-desc-content {
        font-size: 25px;
    }
    .listHolder {
        height: 30px;
    }

    #testList li {
        font-size: 25px;
    }
    /*EDUCATION PAGE*/

    .coll-details h5{
        margin-bottom: 0px;
        margin-top: 0px;
        padding:0px;
    }
    .coll-details h2 span{
        margin-bottom: 0px;
        margin-top: 0px;
        padding:0px;
        font-size: 30px !important;
    }

    .coll-details h2{
        margin:0px;
        padding:0px;
    }

    .coll-details h4{
        line-height: 1.5em !important;
        padding: 1px !important;
        margin: 0px !important;
        font-size: 18px !important;
    }

    .education-coll-logo{
        width :175px !important;
        height :175px !important;
    }

    .education_courses li span{
        font-size: 16px !important;
    }
    /*EDUCATION PAGE END*/
    /*skills PAGE*/
    .skills_header{
        font-size: 18px !important;
    }
    /*skills page end*/
    /*project page*/

    .project {
        width: 275px !important;
        height: 100px !important;
    }

    .project h3{
        font-size: 20px !important;
    }

    /*project page end*/
    /*project page*/
    .projects{
        text-align: left;
    }

    .project {
        width: 225px !important;
        height: 100px !important;
    }

    .project h3{
        font-size: 18px !important;
    }


    /*project page end*/
    /*EXPERIENCE PAGE*/
    .exp-header{
        font-size: 22px !important;
    }


    .exp-role {
        font-size: 16px !important;
    }
    /*.exp-role {*/
        /*font-size: 16px !important;*/
    /*} */
    /*.exp-duration {*/
              /*font-size: 16px !important;*/
    /*}*/
    /*.exp-desc{*/
        /*font-size: 16px !important;*/
    /*}*/



    /*.exp-desc-list li span{*/
        /*font-size: 16px !important;*/
    /*}*/

    .exp-neu-logo{
        width:96px !important;
        height:96px!important;
        padding: 5px!important;
    }

    .exp-bosch-logo{
        margin-top: 15px !important;
        width:150px !important;
    }

    /*EXPERIENCE PAGE END*/

    /*CONTACT ME PAGE*/
    .vijet-image{
        width: 165px !important;
        height: 165px !important;
    }

    .copyright-info{
        font-size: 14px !important;
    }

    .contact_me_dialogue{
        font-size: 24px !important;
    }

    .contact-me-address-table{
        font-size: 14px !important;
        max-width: 300px !important;
        display: inline-table !important;
        margin-top: 25px !important;
    }

    .details-submission-form{
        margin-top: 25px !important;
        font-size: 14px !important;
    }

    .connect-me-label{
        text-align: center !important;
        max-width: 300px !important;
        font-size: 20px !important;
    }
    .social-network{
        width: 300px !important;
        text-align: left !important;
    }

    /*PROJECT DESC PAGE*/
    .project-heading{
        font-size: 32px !important;
    }

    .proj-desc-table tr td, .proj-desc-table tr td p {
        font-size: 16px !important;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*ALL*/
    .section-heading{
        font-size: 36px !important;
    }

    .vijet-desc strong{
        font-size: 45px;
    }

    .listHolder {
        height: 40px;
    }

    #testList li {
       font-size: 34px;
    }
    .vijet-desc-content {
        font-size: 34px;
    }

    /*EDUCATION PAGE*/
    .coll-details h2 span{
        margin-bottom: 0px;
        margin-top: 0px;
        padding:0px;
        font-size: 30px !important;
    }
    .coll-details h5{
        margin-bottom: 0px;
        margin-top: 0px;
        padding:0px;
    }

    .coll-details h2{
        margin:0px;
        padding:0px;
    }

    .coll-details h4{
        line-height: 1.5em !important;
        padding: 1px !important;
        margin: 0px !important;
        font-size: 18px !important;
    }

    .education-coll-logo{
        width :175px !important;
        height :175px !important;
    }

    .education_courses li span{
        font-size: 16px !important;
    }
    /*EDUCATION PAGE END*/
    /*skills PAGE*/
    .skills_header{
        font-size: 18px !important;
    }
    /*skills page end*/

    /*project page*/

    .projects{
        text-align: left;
    }

    .project {
        width: 275px !important;
        height: 100px !important;
    }

    .project h3{
        font-size: 20px !important;
    }


    /*project page end*/

    /*EXPERIENCE PAGE*/

    /*.exp-header{*/
        /*font-size: 26px !important;*/
        /*color:#1DE9B6;*/
    /*}*/
    .exp-header{
        font-size: 26px !important;
    }

    /*.exp-role,.exp-role,.exp-duration,.exp-desc{*/
        /*font-size: 18px !important;*/
    /*}*/

    /*.exp-desc-list li span{*/
        /*font-size: 18px !important;*/
    /*}*/

    /*.exp-header{*/
        /*font-size: 26px !important;*/
    /*}*/

    /*.exp-role,.exp-role,.exp-duration,.exp-desc{*/
        /*font-size: 16px !important;*/
    /*}*/

    .exp-desc-list li span{
        font-size: 16px !important;
    }

    .exp-neu-logo{
        width:96px;
        height:96px;
        padding: 5px;
    }

    .exp-bosch-logo{
        margin-top: 15px;
        width:150px;
    }

    /*EXPERIENCE PAGE END*/
    /*CONTACT ME PAGE*/


    .vijet-image{
        width: 200px !important;
        height: 200px !important;
    }

    .copyright-info{
        font-size: 14px !important;
    }

    .contact_me_dialogue{
        font-size: 24px !important;
    }

    .contact-me-address-table{
        font-size: 14px !important;
        max-width: 300px !important;
        display: inline-table !important;
        margin-top: 25px !important;
    }

    .details-submission-form{
        margin-top: 25px !important;
        font-size: 14px !important;
    }
    .social-media-icon{
        width: 40px !important;
        height:40px !important;
    }
    .connect-me-label{
        text-align: center !important;
        max-width: 300px !important;
        font-size: 20px !important;
    }
    .social-network{
        width: 300px !important;
        text-align: left !important;
    }

    /*PROJECT DESC PAGE*/
    .project-heading{
        font-size: 32px !important;
    }

    .proj-desc-table tr td, .proj-desc-table tr td p {
        font-size: 16px !important;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .section-heading{
        font-size: 48px !important;
    }

    .vijet-desc strong{
        font-size: 45px;
    }

    .listHolder {
        height: 40px;
    }

    #testList li {
       font-size: 35px;
    }

    .vijet-desc-content {
        font-size: 35px;
    }


    /*EDUCATION PAGE*/

    .coll-details h2 span{
         margin-bottom: 0px;
         margin-top: 0px;
         padding:0px;
         font-size: 30px !important;
     }

    .coll-details h5{
        margin-bottom: 0px;
        margin-top: 0px;
        padding:0px;
    }

    .coll-details h2{
        margin:0px;
        padding:0px;
    }

    .coll-details h4{
        line-height: 1.5em !important;
        padding: 1px !important;
        margin: 0px !important;
        font-size: 18px !important;
    }

    .education-coll-logo{
        width :175px !important;
        height :175px !important;
    }

    .education_courses li span{
        font-size: 16px !important;
    }
    /*EDUCATION PAGE END*/

    /*skills PAGE*/
    .skills_header{
        font-size: 18px !important;
    }
    /*skills page end*/

    /*project page*/
    .projects{
        text-align: left;
    }

    .project {
        width: 350px !important;
        height: 100px !important;
    }

    .project h3{
        font-size: 24px !important;
    }
    /*project page end*/

    /*EXPERIENCE PAGE*/

    .exp-header{
        font-size: 26px !important;
    }

    .exp-role,.exp-role,.exp-duration,.exp-desc{
        font-size: 16px !important;
    }

    .exp-desc-list li span{
            font-size: 16px !important;
    }


    .exp-neu-logo{
        width:96px;
        height:96px;
        padding: 5px;
    }

    .exp-bosch-logo{
        margin-top: 15px;
        width:150px;
    }

    /*EXPERIENCE PAGE END*/

    /*CONTACT ME PAGE*/
    .vijet-image{
        width: 200px !important;
        height: 200px !important;
        margin-left: 25px;
    }

    .copyright-info{
        font-size: 14px !important;
    }

    .contact_me_dialogue{
        font-size: 32px !important;
    }

    .contact-me-address-table{
        font-size: 18px !important;
        max-width: 350px !important;
        display: inline-table !important;
        margin-top: 25px !important;
    }

    .connect-me-label{
        text-align: center !important;
        max-width: 350px !important;
        font-size: 20px !important;
    }

    .details-submission-form{
        margin-top: 25px !important;
    }

    /*#section7{*/
        /*margin-top: 15px !important;*/
    /*}*/

    .social-media-icon{
        width: 48px !important;
        height:48px !important;
    }

    .social-network{
        width: 400px !important;
        text-align: left !important;
    }

    /*PROJECT DESC PAGE*/
    .project-heading{
        font-size: 32px !important;
    }

    .proj-desc-table tr td, .proj-desc-table tr td p {
        font-size: 16px !important;
    }

}

.loginContainer{
    max-width: 400px;
}
.section-heading{
    font-family: 'Risque', cursive;
    padding: 12px;
    font-size: 24px;
}



/*CONTACT PAGE SECTION*/
.vijet-image{
    width: 165px;
    height: 165px;
}

.contact_address_row{
    display:block;
    margin:auto;
}
.contact_me_dialogue{
    font-family: 'Risque', cursive;
    font-size: 18px;
    padding: 12px;
}
#smiley{
 color:#1DE9B6 ;
}
.glypicons-contact{
    font-size: 16px;
    color: #2196F3;
}
.contact-me-address-table{
    max-width: 200px;
    display:table;
    margin:auto;
}

.connect-me-label{
    text-align: center;
}

.social-network{
    text-align: center;
}
.social-media-icon{
    width: 32px;
    height:32px;
}


.details-submission-form{
    margin-top: 25px;
}
.visitor-msg, .visitor-email,.visitor-send-btn{
    margin-top: 10px;
}

.visitor-name, .visitor-msg, .visitor-email,.visitor-send-btn{
    margin-bottom: 10px;
    border-radius: 0px;
    background-color: white;
}

.visitor-send-btn{
    background-color: #2196F3;
}

.social-media-icon:hover {
    /*box-shadow: 0 150px 2px rgba(0,0,0,0.15);*/
    /*transition: box-shadow 0.3s ease-in-out;*/

    /*opacity: 0.4;*/
    transform: scale(1.2)
}

.copyright-info{
    padding-top: 8px;
    margin-bottom: 18px;
    padding-right: 8px;
    background-color: floralwhite;
    font-size: 12px;
}

.copyright-info p, .glyphicon-copyright-mark{
    color:#000000;
}
.copyright-heart-icon{
    color: red;
    animation-name:rotate-360-repeated;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

@keyframes rotate-360-repeated {
    50%{transform:scale(1.1,1.1);}
    100%{transform:scale(1.2,1.2);}
}
/*CONTACT PAGE SECTION END*/

/*ADMIN PAGE*/
/*.navbar-header{*/
    /*margin-left:5px;*/
    /*width:100%;*/
/*}*/
.admin-options{
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none !important;
}

.admin-options:hover{
    color:#FFAB00;
}

.add-friend-widget{
    font-size: 96px;
}

.friend-entry{

}

.friend-entry a{
    text-decoration: none !important;
}

.friend-entry a:hover{
    color:#FFAB00;
}

.friend-status-created{
    color:#BBDEFB;
}

.friend-status-invited{
    color:#FFCDD2;
}

.friend-status-published{
color:#1DE9B6;

}


 /*FRIEND PAGE*/
.friendPageOptions{
    width: 150px;
    padding: 15px;
    margin: 12px;
    text-align: center;
    font-size: 20px;
}

.profileSettings{
    background-color: #1DE9B6;
}

.updateProfile{
    background-color: #FFCDD2;
}

.publishProfile{
    background-color: #FFB74D;
}

.previewProfile{
    background-color: #26C6DA;
}

/*FRIEND PAGE END*/



/*FRIEND PAGE PROFILE*/
.imageClass{
    background-color: aquamarine;
    width: 250px;
    height: 250px;
    border-radius: 120px;
    text-align: center;
}

.imgOptions{
    padding: 10px;
    background-color: #dddddd;
    border-radius: 120px;
}
.glyphicon.glyphicon-trash {
    font-size: 36px;
}

.glyphicon.glyphicon-pencil {
    font-size: 36px;
    padding: 10px;
}

.uploadImageSection{
    top: 125px;
}/*FRIEND PAGE PROFILE END*/


/*PROJECT DESC PAGE*/
.project-heading{
    font-size: 20px;
    padding:10px;
    color: #1DE9B6;
}

.table-heading{
    color:#0091EA;
}
.proj-desc-contribution{
    color: #F48FB1;
}

.project-desc-artifact-links{
    color:#FF8A65;
}
.proj-desc-table tr td{
    border: none !important;
}

/*.projects-menu-heading{*/
    /*margin-left: 3px;*/
/*}*/
/*PROJECT DESC PAGE END*/