/*COMMON ELEMENTS*/

* {
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    color: #c3c3c4;
    line-height: 1.25em !important;
}

body{
    background-image: url("../images/bg.jpg");
    padding-top: 32px !important;
    color: #c3c3c4;
}


.vijet-desc strong{
    color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.vijet-desc-content{
    display: inline;
    display:inline;
    float:left;
    margin:0;
}

.listHolder{
    overflow:hidden;
}

#testList{
    padding: 0;
    list-style-type: none;
    margin:0;
    animation: animChange 10s linear 0.3s infinite normal none;
}

#testList li{

    font-size: 35px;
    color: #1DE9B6;
    font-family: 'Risque', cursive;
}

@keyframes animChange {
    0%, 12%   {transform:translateY(0);}
    18%, 24% {transform:translateY(-16%);}
    30%, 36% {transform:translateY(-32%);}
    42%, 48% {transform:translateY(-48%);}
    54%, 60% {transform:translateY(-66%);}
    66%, 72% {transform:translateY(-84%);}

    /*0%, 9%   {transform:translateY(0);}*/
    /*10%, 19% {transform:translateY(-16%);}*/
    /*20%, 29% {transform:translateY(-32%);}*/
    /*30%, 39% {transform:translateY(-48%);}*/
    /*40%, 49% {transform:translateY(-66%);}*/
    /*50%, 59% {transform:translateY(-84%);}*/
    /*60%, 69% {transform:translateY(-66%);}*/
    /*70%, 79% {transform:translateY(-48%);}*/
    /*80%, 89% {transform:translateY(-32%);}*/
    /*90%, 99% {transform:translateY(0%);}*/
    /*16%, 24% {transform:translateY(-16%);}*/
    /*32%, 40% {transform:translateY(-32%);}*/
    /*64%, 72% {transform:translateY(-48%);}*/
    /*80%, 88% {transform:translateY(-66%);}*/
    /*96%, 99% {transform:translateY(-84%);}*/
}
/*NAV BAR*/
.navbar{
    padding-right: 15px;
}

.navbar-nav a { font-weight: 400; font-size: 15px; }
.navbar-brand a { font-weight: 400; font-size: 20px; }
/*NAVBAR END*/

.mysection{
    position: relative;
}


@media (max-width:992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .vijet-desc strong{
        font-size: 35px;
    }

    .vijet-desc-content {
        font-size: 25px;
    }
    .listHolder {
        height: 30px;
    }

    #testList li {
        font-size: 25px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .vijet-desc strong{
        font-size: 45px;
    }

    .listHolder {
        height: 40px;
    }

    #testList li {
       font-size: 34px;
    }
    .vijet-desc-content {
        font-size: 34px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .vijet-desc strong{
        font-size: 45px;
    }

    .listHolder {
        height: 40px;
    }

    #testList li {
       font-size: 35px;
    }

    .vijet-desc-content {
        font-size: 35px;
    }
}






.loginContainer{
    max-width: 400px;
}



/*ADMIN PAGE*/
/*.navbar-header{*/
    /*margin-left:5px;*/
    /*width:100%;*/
/*}*/
.admin-options{
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none !important;
}

.admin-options:hover{
    color:#FFAB00;
}

.add-friend-widget{
    font-size: 96px;
}

.friend-entry{

}

.friend-entry a{
    text-decoration: none !important;
}

.friend-entry a:hover{
    color:#FFAB00;
}

.friend-status-created{
    color:#BBDEFB;
}

.friend-status-invited{
    color:#FFCDD2;
}

.friend-status-published{
color:#1DE9B6;

}


 /*FRIEND PAGE*/
.friendPageOptions{
    width: 150px;
    padding: 15px;
    margin: 12px;
    text-align: center;
    font-size: 20px;
}

.profileSettings{
    background-color: #1DE9B6;
}

.updateProfile{
    background-color: #FFCDD2;
}

.publishProfile{
    background-color: #FFB74D;
}

.previewProfile{
    background-color: #26C6DA;
}

/*FRIEND PAGE END*/



/*FRIEND PAGE PROFILE*/
.imageClass{
    background-color: aquamarine;
    width: 250px;
    height: 250px;
    border-radius: 120px;
    text-align: center;
}

.imgOptions{
    padding: 10px;
    background-color: #dddddd;
    border-radius: 120px;
}
.glyphicon.glyphicon-trash {
    font-size: 36px;
}

.glyphicon.glyphicon-pencil {
    font-size: 36px;
    padding: 10px;
}

.uploadImageSection{
    top: 125px;
}/*FRIEND PAGE PROFILE END*/