/*This is a custom stylesheet*/
* {
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    color: #c3c3c4;
    line-height: 1.25em !important;
}


body{
    background-image: url(../img/bg.jpg);
}

.section-header{
    margin-top: 30px;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
}

.project-class{
    background-color: #A1887F;
    border: solid 3px black;
}

.projName{
    margin-top: 0;
    padding-top: 0;
}

.project_wham{
    background-color: #1DE9B6;
}

.project_wham_type{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8c8c8c;
}

.modal-content{
    background-color: #E0F7FA;

}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
    color: black;
}

.black-color{
    color: black;
}

.tech-logos{
    display: flex;
}


