* {
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    color: #c3c3c4;
    line-height: 1.25em !important;
}

body{
    background-image: url("bg.jpg");
    color: #c3c3c4;
}

.nameTag{
    font-size: 56px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.descTag{
    font-size: 40px;
}



.role{
    height: 40px;
    overflow:hidden;
    font-size: 40px;
}

p {
    display:inline;
    float:left;
    margin:0;
}

ul {
    padding: 0;
    list-style-type: none;
    margin:0;
    animation: animChange 3s linear 0.3s infinite normal none;
}

.myimage{
    animation: animChange2 6s linear 0.3s infinite normal none;
}

/*@keyframes opacity {*/
    /*0%, 100%   {opacity:0;}*/
    /*50%  {opacity:1;}*/
/*}*/

/*@keyframes animChange {*/
    /*0%, 12%, 100%   {transform:translateY(0);}*/
    /*17%,29%  {transform:translateY(-25%);}*/
    /*34%,46%  {transform:translateY(-50%);}*/
    /*51%,63%  {transform:translateY(-75%);}*/
    /*68%,80%  {transform:translateY(-50%);}*/
    /*85%,97%  {transform:translateY(-25%);}*/
/*}*/

@keyframes animChange {
    0% ,10%, 100%{transform:translateY(0);}
    50%, 60% {transform:translateY(-50%);}
}

@keyframes animChange2 {
    /*0% {background-image: url("rf_logo.png")}*/
    /*50%{background-image: url("nadal_logo.jpg")}*/
    0%{opacity: 0.9;transform: scale(1.1);}
    50%{opacity: 0.6;transform: scale(1.4);}
    75%{opacity: 0.4;transform: scale(1.6);}
    100%{opacity: 0.2;transform: scale(1.8);}
}